<div ng-controller="loginController">
    <form name="changePasswordForm">
        <label class="checkbox pull-left">
            Old password :
            <input name="userOldPassword" ng-model="user.oldPassword" type="text" ng-minlength="6" ng-maxlength="16"
                   ng-pattern="/^[a-zA-Z]\w{6,16}$/" class="form-control" placeholder="Old password"
                   required autofocus><br/>
        </label>

        <div role="alert">
                <span class="error" ng-show="changePasswordForm.userOldPassword.$error.required"  style="color:red">
                    Required!</span>
                <span class="error" ng-show="changePasswordForm.userOldPassword.$error.minlength"  style="color:red">
                    Too short!</span>
                <span class="error" ng-show="changePasswordForm.userOldPassword.$error.maxlength"  style="color:red">
                    Too long!</span>
        </div>
        <br/><br/>

        <label class="checkbox pull-left">
            New password :
            <input name="userNewPassword" ng-model="user.newPassword" type="text" ng-minlength="6" ng-maxlength="16"
                   ng-pattern="/^[a-zA-Z]\w{6,16}$/" class="form-control" placeholder="New password"
                   required><br/>
        </label>

        <div role="alert">
                <span class="error" ng-show="changePasswordForm.userNewPassword.$error.required"  style="color:red">
                    Required!</span>
                <span class="error" ng-show="changePasswordForm.userNewPassword.$error.minlength"  style="color:red">
                    Too short!</span>
                <span class="error" ng-show="changePasswordForm.userNewPassword.$error.maxlength"  style="color:red">
                    Too long!</span>
        </div>
        <br/><br/>

        <label class="checkbox pull-left">
            Confirm password :
            <input name="userNewConfirmPassword" ng-model="user.newConfirmPassword" type="text" ng-minlength="6"
                   ng-maxlength="16" ng-pattern="/^[a-zA-Z]\w{6,16}$/" class="form-control"
                   placeholder="Confirm password" required><br/>
        </label>

        <div role="alert">
                <span class="error" ng-show="changePasswordForm.userNewConfirmPassword.$error.required"  style="color:red">
                    Required!</span>
                <span class="error" ng-show="changePasswordForm.userNewConfirmPassword.$error.minlength"  style="color:red">
                    Too short!</span>
                <span class="error" ng-show="changePasswordForm.userNewConfirmPassword.$error.maxlength"  style="color:red">
                    Too long!</span>
        </div>
        <br/> <br/>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-model="changePasswordButton"
                ng-disabled="!changePasswordForm.$valid" ng-click="validateChangePassword()">
            Change password
        </button>
        <div role="alert">
            <span class="error"  style="color:red"> {{isValidateChangePassword}} </span>
        </div>
        <br/><br/>

    </form>
    <tt>user = {{user}}</tt><br/><br/>
    <tt>changePasswordForm.$valid = {{changePasswordForm.$valid}}</tt><br/><br/>
    <tt>changePasswordForm.$error = {{!!changePasswordForm.$error}}</tt><br/><br/>
    <tt>changePasswordForm.userOldPassword.$error = {{changePasswordForm.userOldPassword.$error}}</tt><br/><br/>
    <tt>changePasswordForm.userOldPassword.$valid = {{changePasswordForm.userOldPassword.$valid}}</tt><br/><br/>
    <tt>changePasswordForm.userNewPassword.$error = {{changePasswordForm.userNewPassword.$error}}</tt><br/><br/>
    <tt>changePasswordForm.userNewPassword.$valid = {{changePasswordForm.userNewPassword.$valid}}</tt><br/><br/>
    <tt>changePasswordForm.userNewConfirmPassword.$error =
        {{changePasswordForm.userNewConfirmPassword.$error}}</tt><br/><br/>
    <tt>changePasswordForm.userNewConfirmPassword.$valid =
        {{changePasswordForm.userNewConfirmPassword.$valid}}</tt><br/><br/>

</div>